# Umbrella Helm Chart for Dry OCP Microservice Deployment

{{ template "chart.badgesSection" . }}


## Description

{{ template "chart.description" . }}


### Installing the Chart

{{ template "chart.valuesSection" . }}

{{ template "chart.homepageLine" . }}

{{ template "chart.sourcesSection" . }}

{{ template "chart.maintainersSection" . }}

## Legal Disclaimer 👮

